<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Blog Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/dashboard">Admin</a></li>
      <li><a href="/addpost">Add new Post</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3>Actions Authorized by Admin</h3>
  <p>
      <table class="table">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Title</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>


      {% for post in posts %}
      <tr>
        <td>{{post.sno}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date}}</td>
        <td><a href="/edit/{{post.sno}}"><button class="btn btn-primary" >Edit</button></a></td>
        <td><a href="/delete/{{post.sno}}"><button class="btn btn-primary">Delete</button></a></td>
      </tr>


      {% endfor %}

    </tbody>
  </table>
  </p>
</div>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3> Visiting User's</h3>
  <p>
      <table class="table">
    <thead>
      <tr>
        <th>Users</th>

      </tr>
    </thead>
    <tbody>


      {% for use in user %}
      <tr>
        <td>{{use.email}}</td>
        <td><a href="/deleteuser/{{use.id}}"><button class="btn btn-primary">Delete</button></a></td>
      </tr>


      {% endfor %}

    </tbody>
  </table>
  </p>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

</body>
</html>

